<%- include("partials/header") %>

<div class="userProfile">
    <label class="profilePic" placeholder="">
        <div class="fullname"><%= currentUser.fullname%></div>
        <br>
        <br>
        <!-- <label class="userBio"><%= currentUser.fullname %> -->
</div>
<hr>
<div class="ui main text container">
    <div class="ui huge header">Timeline
        <div class="ui top attached segment">
            <div class="ui divided items">
                <% blogs.forEach(function(blog){ %>

                <div class="item">
                    <div class="image">
                        <img src=" <%= blog.image %> ">
                    </div>
                    <div class="content">
                        <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                        <span><%= blog.created.toDateString() %></span>

                        <div class="description">
                            <p><%=blog.body.substring(0, 100) %>...</p>
                        </div>
                        <div class="extras">
                            <button><a href="/blogs/<%= blog._id %>">
                                    Read More
                                    <i class="right small chevron icon"></i>
                                </a>
                            </button>

                        </div>
                    </div>

                </div>

                <% }); %>
            </div>
        </div>
    </div>
</div>
<br>

<%- include("partials/footer") %>